body {
    background-color: #283258;
}
.card{
    top: 0px;
    left: 0px;
    width: 375px;
    height: 669px;
}

.card-img-overlay {
    padding: 0px;
}

.absolute{
    position: absolute;
}

#logo {
    padding-top: 0px;
    padding-left: 10px;
    top: 44px;
    left: 39px;
    width: 167px;
    height: 42px;
}

#menu {
    padding: 0px;
    top: 58px;
    left: 316px;
    width: 26px;
    height: 17px;
}

#title{
    top: 170px;
    left: 32px;
    width: 308px;
    height: 91px;

    text-align: left;
    font: Bold 45px/45px Neuzeit Grotesk;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}