.fixed {
    position: fixed;
    z-index: 3;
}

#MM {
    padding-right: 4.464285714285714vh;
    font-family: 'NeuzeitGro-Reg', sans-serif;
    text-align: center;
    font-size: 1.7857142857142858vh;
    letter-spacing: 0.26785714285714285vh;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
}

#Van {
    padding-right: 4.464285714285714vh;
    font-family: 'NeuzeitGro-Reg', sans-serif;
    text-align: center;
    font-size: 1.7857142857142858vh;
    letter-spacing: 0.26785714285714285vh;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
}

#Rec {
    padding-right: 4.464285714285714vh;
    font-family: 'NeuzeitGro-Reg', sans-serif;
    text-align: center;
    font-size: 1.7857142857142858vh;
    letter-spacing: 0.26785714285714285vh;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
}


#Cont {
    font-family: NeuzeitGro-Bol;
    width: 17.621145374449338vh;
    height: 5.286343612334802vh;
    background: none;
    border: 0.14684287812041116vh solid #FFFFFF;
    border-radius: 14.684287812041116vh;
    color: #FFFFFF;
    /*font-size: 1rem;*/
    font-size: 1.5vh;


    letter-spacing: 0.22026431718061673vh;
}

#Cont:hover {
    background-color: #FFFFFF;
    color: inherit;
}


.cabecalhoPrincipal-nav {
    padding: 1.4880952380952381vh;
}


#logo {
    width: 37.20238095238095vh;
    height: 6.696428571428571vh;
}

#div_logo {
    padding-right: 14.880952380952381vh;
    margin-left: 11%;
}

#info_mobile {
    display: none;
}

.logo {
    width: 24.851190476190474vh;
    height: 6.25vh;
    opacity: 1;
}


.secao1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh; /* 100vh é a altura da tela do dispositivo (vh = viewpor hight)  */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#secao1_titulo {
    text-align: left;
    font: 8.5vh NeuzeitGro-Bol;
    letter-spacing: 0.13392857142857142vh;
    color: #FFFFFF;
    padding-left: 12.648809523809524vh;
    padding-bottom: 2.5297619047619047vh;
    padding-top: 14.880952380952381vh;
}

#plataforma_text {

    font-size: 2.3vh;
    font-family: 'NeuzeitGro-Reg', sans-serif;
    text-align: left;
    letter-spacing: 0.14684287812041116vh;
    color: white;
    margin-bottom: 8.810572687224669vh;
    padding-left: 12.481644640234949vh;
}

.neg {
    font-weight: bold;
    font-family: NeuzeitGro-Bol;

}

#div_botao {
    padding-left: 15.418502202643172vh;
}

@media (min-width: 1920px){
    #div_botao{
        padding-left: 14vh;
    }
}

#banner_button {
    padding: 2.5vh 4vh;
    height: 6.7547723935389135vh;
    width: 36.71071953010279vh;
    background-color: #FFFFFF;
    border: none;
    border-radius: 14.684287812041116vh;
    font-family: NeuzeitGro-Reg;
    font-size: 2.5vh;

    letter-spacing: 0.22026431718061673vh;
    color: #283258;

}


@media (max-width: 800px) {
    #secao1_titulo {
        text-align: left;
        font: 45px NeuzeitGro-Bol;
        letter-spacing: 0.45px;
        color: #FFFFFF;
        padding-left: 5%;
        padding-bottom: 10px;
        padding-top: 0px;
    }

    #plataforma_text {
        width: 90%;
        padding-left: 5%;
        font-size: 16px;
        font-family: 'NeuzeitGro-Reg';
        text-align: left;
        letter-spacing: 1px;
        color: white;
        margin-bottom: 20px;

    }

    #div_botao {
        padding-left: 10%;
        margin-top: 30px;
    }

    #banner_button {
        padding: 1.5rem 5rem;
        height: 46px;
        width: 200px;
        background-color: #FFFFFF;
        border: none;
        border-radius: 100px;
        font-family: NeuzeitGro-Reg;
        font-size: 1.45rem;

        letter-spacing: 1.5px;
        color: #283258;

    }


    .secao1 {
        height: 100vh;
    }

    #logo {
        width: 187px;
        height: 62px;
    }

    #div_logo {
        padding-right: 0px;
        margin-left: 0%;
        width: 95%;

    }

    #Icone_Menu {

    }

    #info_mobile {
        display: block;
        margin-left: -15%;
    }


}


@media (orientation: landscape) {
    .secao1 {
        background: url('../img/background.png') no-repeat;
        background-size: cover;
        background-origin: padding-box;
        background-position: initial;
    }
}

@media (orientation: portrait) {
    .secao1 {
        background: url('../img/background-mobile.png') no-repeat;
        background-size: cover;
        background-origin: padding-box;
        background-position: initial;
    }
}

/*
@media not all and (max-width: 600px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
        background: transparent;
    }
    .barra-nav{
    	display: none;
    }
}


@media (max-width: 600px){
	.cabecalhoPrincipal-nav{
		display: none;
		padding: 0px;
	}
	.menu-abrir{
		width: 30px;
		height: 30px;
		padding: 0;
	}
	.menu-fechar{
		position:absolute;
		display: block;
		top: 34px;
		left: 210px;
	}
	.logo{	
		border: whitesmoke solid;
		padding-top:10px;	
		padding-left: 4px;
		width: 167px;
		height: 42px;
		
		opacity: 1;
	}


	.barra-nav {
        background: #283258;
        padding: 1em;
        margin: 0;

        height: 100%;
        width: 100%;
        

        position: fixed;
        z-index: 1;
        top: 0;
        right: -100% ;

        transition: right 0.3s ease-out;
    }
    .menu-ativo .barra-nav {
        right: 0;
    }

    .menu_mm{
		width: 132px;
		height: 16px;
		text-align: left;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
    }
    .menu_van{
		width: 78px;
		height: 16px;
		text-align: left;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
    }
    .menu_rec{
		width: 64px;
		height: 16px;
		text-align: left;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
    }

    .menu_vp{
		width: 115px;
		height: 16px;
		text-align: left;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
    }
    .menu_fc{
		width: 100px;
		height: 16px;
		text-align: left;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
    }

    .logo_menu{
    	padding-top:20px;	
		width: 167px;
		height: 42px;
    }
} */
