
#MM{
	padding-right: 30px;
	top: 86px;
	left: 1129px;
	width: 148px;
	height: 18px;
	text-align: center;
	font: 18px/26px Neuzeit Grotesk;
	letter-spacing: 0.9px;
	color: #FFFFFF;
	opacity: 1;
}


#Van{
	padding-right: 30px;
	top: 86px;
	left: 1337px;
	width: 88px;
	height: 18px;
	text-align: center;
	font: 18px/26px Neuzeit Grotesk;
	letter-spacing: 0.9px;
	color: #FFFFFF;
	opacity: 1;
}


#Rec{
	padding-right: 30px;
	top: 86px;
	left: 1479px;
	width: 72px;
	height: 18px;
	text-align: center;
	font: 18px/26px Neuzeit Grotesk;
	letter-spacing: 0.9px;
	color: #FFFFFF;
	opacity: 1;
}


#Cont{
	font-family: Neuzeit Grotesk;
	width: 170px;
	height: 56px;
	background: none;
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	color: #FFFFFF;
	font-size: 1.5rem;
	font-weight: bold;
}

#Cont:hover{
	background-color: #FFFFFF;
	color: inherit;
}


.cabecalhoPrincipal-nav{
	padding: 20px;
}


#logo{
	border: #283258 solid;
    width: 167px;
    height: 42px;
}
  
.logo{	
	border: #283258 solid;
    padding-top:10px;	
    position:absolute;
    top: 22px;
    left: -20px;
    width: 167px;
    height: 42px;
    
    opacity: 1;
}


.secao1{
	display: flex;
	flex-direction: column;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh; /* 100vh é a altura da tela do dispositivo (vh = viewpor hight)  */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 1;
}

#secao1_titulo{
	
	left: 275px;
	height: 187px;
	text-align: left;
	font: Bold 90px/96px Neuzeit Grotesk;
	letter-spacing: 0.9px;
	color: #FFFFFF;
	opacity: 1;
}

#plataforma_text{
	font-family: Neuzeit Grotesk;
	text-align: left;
	letter-spacing: 0.45px;
	color: #FFFFFF;
	opacity: 1;
	margin-bottom: 60px;
}

.neg{
	font-weight: bold;
	font-family: Neuzeit Grotesk;
	color: white;
}


#banner_button{
	padding: 2rem 5rem;
	background-color: #FFFFFF;
	border: none;
	border-radius: 100px;
	font: Bold 2rem/1.4rem Neuzeit Grotesk;
	color: #283258;
}


@media screen and (min-width: 500px){
	#secao1_titulo{
		font-size: calc(32px + (50/1200) * 100 * 1vw);
	}

}

@media (orientation: landscape) {
	.secao1 {
		background: url('../img/background.png') no-repeat;
		background-size: 105%;
		background-origin: padding-box;
		background-position: initial;
	}
}

@media (orientation: portrait) {
	.secao1 {
		background: url('../img/background-mobile.png') no-repeat;
		background-size: 100%;
		background-origin: padding-box;
		background-position: initial;
	}
}

@media not all and (max-width: 600px) {
    .menu-abrir,
    .menu-fechar {
        display: none;
        background: transparent;
    }
    .barra-nav{
    	display: none;
    }
}


@media (max-width: 600px){
	.cabecalhoPrincipal-nav{
		display: none;
		padding: 0px;
	}
	.menu-abrir{
		position:absolute;
		display: block;
		top: 44px;
		left: 220px;
	}
	.menu-fechar{
		position:absolute;
		display: block;
		top: 34px;
		left: 210px;
	}
	.logo{	
		padding-top:10px;	
		position:absolute;
		top: 22px;
		left: -20px;
		width: 167px;
		height: 42px;
		
		opacity: 1;
	}


	.barra-nav {
        background: #283258;
        padding: 1em;
        margin: 0;

        height: 100%;
        width: 100%;
        

        position: fixed;
        z-index: 1;
        top: 0;
        left: -100%;

        transition: left 0.3s ease-out;
    }
    .menu-ativo .barra-nav {
        left: 0;
    }

    .menu_mm{
    	position: absolute;
    	top: 214px;
		left: 39px;
		width: 132px;
		height: 16px;
		text-align: center;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
		opacity: 1;
    }
    .menu_van{
    	position: absolute;
    	top: 263px;
		left: 39px;
		width: 78px;
		height: 16px;
		text-align: center;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
		opacity: 1;
    }
    .menu_rec{
    	position: absolute;
    	top: 313px;
		left: 39px;
		width: 64px;
		height: 16px;
		text-align: center;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
		opacity: 1;
    }

    .menu_vp{
    	position: absolute;
    	top: 362px;
		left: 39px;
		width: 115px;
		height: 16px;
		text-align: left;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
		opacity: 1;
    }
    .menu_fc{
    	position: absolute;
    	top: 412px;
		left: 39px;
		width: 100px;
		height: 16px;
		text-align: center;
		font: 16px/22px Neuzeit Grotesk;
		letter-spacing: 0.8px;
		color: #FFFFFF;
		opacity: 1;
    }

    .logo_menu{
    	padding-top:10px;	
		position:absolute;
		top: 30px;
		left: 30px;
		width: 167px;
		height: 42px;
		
		opacity: 1;
    }
}

